<html>
<head>
    <title>Quiz</title>
    <link href="../../css/result.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="report">
        <div id='user' ></div>   
        <div id='quiz' ></div>        
        <div id='total' ></div>    
        <div id="stat"></div>        
        <div id='result' ></div>
    </div>
</body>
</html>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>    
<script src="../../Scripts/jquery-1.6.1/jquery-1.6.1.min.js" type="text/javascript"></script>
<script src="../../Scripts/Result.js" type="text/javascript"></script>