<html>
<head>
    <title>Quiz</title>
    <link href="../../css/quiz.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id='quizs' class='container'></div>
</body>
</html>
<script src="../../Scripts/jquery-1.6.1/jquery-1.6.1.min.js" type="text/javascript"></script>
<script src="../../Scripts/Quiz.js"></script>