<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="quizContainer" connectionString="metadata=res://*/DAL.quiz.csdl|res://*/DAL.quiz.ssdl|res://*/DAL.quiz.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SAHBI\SQLEXPRESS;Initial Catalog=Quiz;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>  
</configuration>