<html>
<head>
    <title>Quiz</title>
    <link href="../../css/question.css" rel="stylesheet" type="text/css" />
</head>
 <body>
    <div id="container" class="container">
        <div id='quiz' class='quiz'></div>
        <div id="quest_count" class='quest_count'></div>
        <div id='questions' class='questions' ></div>
    </div>
</body>
</html>
<script src="../../Scripts/jquery-1.6.1/jquery-1.6.1.min.js" type="text/javascript"></script>
<script src="../../Scripts/Question.js"></script>
